<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827380999979-6mcuj0cv7r06fog6d22b5po7ec787e82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827380999979-6mcuj0cv7r06fog6d22b5po7ec787e82</string>
	<key>API_KEY</key>
	<string>AIzaSyDP4qr4tBvQCmmwVqw8r5t_V8RuuGhdY9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>827380999979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.centennialcollege.MAPD714-Final-Exam</string>
	<key>PROJECT_ID</key>
	<string>mapd714-finalexam</string>
	<key>STORAGE_BUCKET</key>
	<string>mapd714-finalexam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827380999979:ios:f55bbdda8096a38468876e</string>
</dict>
</plist>